<form action="{{ action }}" name="editor" method="post">
	<p align="center">
		<textarea style="width:96%;" rows="30" name="source" id="source">{{ content }}</textarea>
	</p>

	<p align="center">
		<input type="submit" value="Speichern" class="btn btn-primary">
		<a href="{{ cancel }}" class="btn">Abbrechen</a>
	</p>
</form>